Leyendo y manipulando datos con Graph Lab

In [1]:
import graphlab as gl

Importar Datos en formato CSV

In [2]:
datos = gl.SFrame.read_csv('/Users/CarlosQ/Desktop/HousePrices.csv')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1497455797.log

This non-commercial license of GraphLab Create for academic use is assigned to Carlos.Quintanilla@incae.edu and will expire on May 30, 2018.

Finished parsing file /Users/CarlosQ/Desktop/HousePrices.csv

Parsing completed. Parsed 100 lines in 0.016664 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,int,int,int,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/CarlosQ/Desktop/HousePrices.csv

Parsing completed. Parsed 128 lines in 0.006568 secs.

Mostrar unas cuantas filas

In [4]:
datos

Columns:
	HomeID	int
	Price	int
	SqFt	int
	Bedrooms	int
	Bathrooms	int
	Offers	int
	Brick	str
	Neighborhood	str

Rows: 128

Data:
+--------+--------+------+----------+-----------+--------+-------+--------------+
| HomeID | Price  | SqFt | Bedrooms | Bathrooms | Offers | Brick | Neighborhood |
+--------+--------+------+----------+-----------+--------+-------+--------------+
|   1    | 114300 | 1790 |    2     |     2     |   2    |   No  |     East     |
|   2    | 114200 | 2030 |    4     |     2     |   3    |   No  |     East     |
|   3    | 114800 | 1740 |    3     |     2     |   1    |   No  |     East     |
|   4    | 94700  | 1980 |    3     |     2     |   3    |   No  |     East     |
|   5    | 119800 | 2130 |    3     |     3     |   3    |   No  |     East     |
|   6    | 114600 | 1780 |    3     |     2     |   2    |   No  |    North     |
|   7    | 151600 | 1830 |    3     |     3     |   3    |  Yes  |     West     |
|   8    | 150700 | 2160 |    4     |     2     |   2    |   No  |     West     |
|   9    | 119200 | 2110 |    4     |     2     |   3    |   No  |     East     |
|   10   | 104000 | 1730 |    3     |     3     |   3    |   No  |     East     |
+--------+--------+------+----------+-----------+--------+-------+--------------+
[128 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

Caracteristicas de la Hoja de Datos

In [8]:
datos.num_rows(), datos.num_cols()

(128, 8)

In [12]:
datos.head(2)

Columns:
	HomeID	int
	Price	int
	SqFt	int
	Bedrooms	int
	Bathrooms	int
	Offers	int
	Brick	str
	Neighborhood	str

Rows: 2

Data:
+--------+--------+------+----------+-----------+--------+-------+--------------+
| HomeID | Price  | SqFt | Bedrooms | Bathrooms | Offers | Brick | Neighborhood |
+--------+--------+------+----------+-----------+--------+-------+--------------+
|   1    | 114300 | 1790 |    2     |     2     |   2    |   No  |     East     |
|   2    | 114200 | 2030 |    4     |     2     |   3    |   No  |     East     |
+--------+--------+------+----------+-----------+--------+-------+--------------+
[2 rows x 8 columns]

In [13]:
datos.tail(3)

Columns:
	HomeID	int
	Price	int
	SqFt	int
	Bedrooms	int
	Bathrooms	int
	Offers	int
	Brick	str
	Neighborhood	str

Rows: 3

Data:
+--------+--------+------+----------+-----------+--------+-------+--------------+
| HomeID | Price  | SqFt | Bedrooms | Bathrooms | Offers | Brick | Neighborhood |
+--------+--------+------+----------+-----------+--------+-------+--------------+
|  126   | 113500 | 2070 |    2     |     2     |   2    |   No  |    North     |
|  127   | 149900 | 2020 |    3     |     3     |   1    |   No  |     West     |
|  128   | 124600 | 2250 |    3     |     3     |   4    |   No  |    North     |
+--------+--------+------+----------+-----------+--------+-------+--------------+
[3 rows x 8 columns]

In [9]:
datos.column_names()

['HomeID',
 'Price',
 'SqFt',
 'Bedrooms',
 'Bathrooms',
 'Offers',
 'Brick',
 'Neighborhood']

In [11]:
datos.column_types()

[int, int, int, int, int, int, str, str]

Visualizacion y Estadisticas Descriptivas

In [15]:
datos.show()

Canvas is accessible via web browser at the URL: http://localhost:60593/index.html
Opening Canvas in default web browser.

In [16]:
datos.save('/Users/CarlosQ/Desktop/Casas')

In [17]:
datos2 = gl.load_sframe('/Users/CarlosQ/Desktop/Casas')

In [18]:
datos2.show()

Canvas is updated and available in a tab in the default browser.

In [19]:
datos.dtype()

[int, int, int, int, int, int, str, str]

In [20]:
datos.column_types()

[int, int, int, int, int, int, str, str]